* {
  margin: 0;
}

.app{
  background-color: #fafafa;
  height: 100vh;
}

.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage{
  object-fit: contain;
}

.post__header__avatar{
    margin-right: 10px;
    margin-left: auto;
}

.app__signup{
  display:flex;
  flex-direction: column;
}

.app__posts{
  padding: 20px;
  display:flex;
  justify-content: center;

}

.app_postsRight{
  margin-left: 20px;
}

.post__image{
  object-fit: contain;
}

.upload__div{
    background-color: #fafafa;
    position: sticky;
    bottom: 0;
}

